.badgeNetworkInput
  display inline-block
  vertical-align middle

.badgeNetworkInput span
  font-weight bold
  vertical-align middle
  margin-bottom 0

.badgeNetworkInput input
  vertical-align middle
  margin 0 auto
