@import '../../node_modules/skeleton-css/css/normalize.css'
@import '../../node_modules/skeleton-css/css/skeleton.css'

@import './components/*'

// Nav style
nav ul
  list-style-type none
  margin 0
  padding 0
  overflow hidden
  background-color steelblue

nav li
  float left
  margin-bottom 0

nav li a
  display block
  color whitesmoke
  text-align center
  padding 14px 16px
  text-decoration none

nav li a:hover
  border-bottom 5px solid whitesmoke
  color whitesmoke

nav li a.active
  border-bottom 5px solid whitesmoke

// Override skeleton container size
.container
  max-width 80%

// Employee table style
.employeeTable
  width 360px
  height 360px
  overflow-y auto

.employeeTable table
  width 100%

// IP table style
.ipTable table
  width 100%

.ipTable .prevBtn
  float left

.ipTable .nextBtn
  float right

.ipTable .info
  display inline-block
  text-align center
